body {
	font: 16px/1.5em Lato, sans-serif;
    text-align: center; 
}
.pull-left {
	margin: 0 20px 0 0;
	width: 80px;
}
.pull-right {
	margin: 0 0 0 20px;
	width: 80px;
}
.progress {
	position: relative;
}
.center-bar {
	border-left: 1px dashed #FFF;
	height: 100%;
	left: 50%;
	position: absolute;
}
@media (min-width: 992px) {
	
	ol {
		width: 1000px;
		height: 3200px;
		margin-left: auto;
		margin-right: auto;
	}

	ol li {
		float: left;
		margin-bottom: 1em;
		width: 50%;
		
	}

}